<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://image.freepik.com/free-icon/fork-and-knife-in-cross_318-61306.jpg" class="logo" alt="FindFood">
      &nbsp;
      GetGrub
    </a>
    <div class="navbar-burger" data-target="#mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mobile-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/foods">All Foods</a>
      <a class="navbar-item" href="/restaurants">All Restaurants</a>
      <% if(!locals.isAuthenticated) { %>
      <a class="navbar-item" href="/register">Register</a>
      <a class="navbar-item" href="/login">Login</a>
      <% } else { %>
        <a class="navbar-item" href="/foods/new">New Food</a>
        <a class="navbar-item" href="/restaurants/new">New Restaurant</a>
          <a class="navbar-item" href="/logout">Logout</a>
          <% } %>
    </div>
  </div>
</nav>
