
<a href="/foods/new" class="t1">Create your food</a>
<a href="/restaurants/new" class="t2">Create your restaurant</a>

<div class="about">
  <p>
    <span>A place for you to store and share</span><br>
    <span>your favourite experiences</span><br>
    <span>with food</span>
  </p>
</div>
