
<a href="/foods/new" class="t1">Create your food</a>
<a href="/restaurants/new" class="t2">Create your restaurant</a>

<div class="about">
  <p>
    <span>Store And Share Your Favourite Meals</span><br>
    <span>With GetGrub</span><br>
  </p>
</div>
