<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 2</title>
    <% include ./partials/_stylesheets %>
    <% include ./partials/_scripts %>
  </head>
  <body<% if(locals.isHompage) { %> style="background-image:url(<%= randomImage %>)" class="homepage"<% } %>>
    <%- include ./partials/_navbar %>
    <% if(!locals.isHompage) { %><main class="section"><% } %>
      <%- body %>
    <% if(!locals.isHompage) { %></main><% } %>
  </body>
</html>
