<form method="POST" action="/login">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" name="email" type="text" placeholder="Email">
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" name="password" type="password" placeholder="Password">
    </div>
  </div>
  <div class="control">
    <button class="button is-primary">Login</button>
  </div>
</form>
